@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    cursor: pointer;
    background-color: #a0aec0;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

li>a {
    position: relative;
    color: #000;
    text-decoration: none;
    padding-bottom: 5px;
}

li>a:hover {
    color: #000;
}

li>a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

li>a:hover::before {
    transform: scaleX(1);
}